httplib2
imageio
json5
notebook
numpy
opencv-python
opencv-python-headless
pandas
parso
path
Pillow
pyngrok
pyOpenSSL
pyparsing
requests 
requests-oauthlib
streamlit
tensorflow-cpu
tensorflow-model-optimization
uritemplate
urllib3
wcwidth
zipp
