httplib2
idna
imageio
ipykernel
ipython-genutils
json5
notebook
numpy
oauth2client
oauthlib
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
pandocfilters
parso
path
Pillow
pymongo
pyngrok
pyOpenSSL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyreadline
pyrsistent
PySocks
pytest
pytest-shutil
python-dateutil
python-slugify
python-utils
requests 
requests-oauthlib
streamlit
tensorflow-cpu
tensorflow-model-optimization
uritemplate
urllib3
wcwidth
zipp
