altair
apipkg
astor
astunparse
attrs
avro-python
backcall
bleach
blinker
brotlipy
cachetools
certifi
cffi
chardet
click
colorama
contextlib2
crcmod
cryptography
cycler
Cython
dataclasses
decorator
defusedxml
dill
dm-tree
docopt
entrypoints
fastavro
flatbuffers
future
gast
gin-config
grpcio
h5py
hdfs
httplib2
idna
imageio
importlib-metadata
ipykernel
ipython-genutils
itsdangerous
Jinja2
json5
jsonschema
kiwisolver
labelImg
lvis
lxml
Markdown
MarkupSafe
nbconvert
nbformat
nibabel
notebook
numpy
oauth2client
oauthlib
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
pandocfilters
parso
path
pickleshare
Pillow
pluggy
prometheus-client
promise
prompt-toolkit
proto-plus
protobuf
psutil
py
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
pydot==1.4.2
Pygments==2.6.1
PyJWT==1.7.1
pymongo
pyngrok
pyOpenSSL
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyreadline
pyrsistent
PySocks
pytest
pytest-shutil
python-dateutil
python-slugify
python-utils
requests 
requests-oauthlib
streamlit
tensorflow-cpu
tensorflow-model-optimization
termcolor
terminado
testpath
text-unidecode
tf-models-official
tf-slim
toml 
toolz
tornado
tqdm 
uritemplate
urllib3
wcwidth
zipp
